*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #add8e6;
  padding: 10px 0px;
}

header .container{
  display: flex;
  justify-content: space-between;
  background-color: #daa520;
}

header .container div{
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.menu{
  padding: 10px 5px;
  display: flex;
  list-style: none;
  align-items: center;
}

.container{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blue{
  background-color:#00008b;
  padding: 30px;
}

.sector{
  width: 70%;
  height: 180px;
  background-color:#ee82ee;
  border:solid darkgray 0.1px;
}

.white{
  padding: 30px;
}

.azzurro{
  background-color: #1e90ff;
  width: 60%;
  height: 250px;
}

.rosa{
  background-color: #ffc0cb;
  width: 20%;
  height: 250px;
}

.gray{
  padding: 30px;
  background-color: #d3d3d3;
}

.verde{
  background-color: green;
  width: 80%;
  height: 500px;
}

.black{
  background-color: #23272a;
  padding: 30px;
}

.pink{
  background-color: #f08080;
  width: 40%;
  height: 500px;
}

.acqua{
  background-color: #20b2aa;
  width: 10%;
  height: 500px;
}